body {
  text-align: center;
}

.y {
  text-align: center;
}

.social {
  margin-left: 0px;
}

.navbar {
  justify-content: 0%;
}

button {
  border: none;
  border-radius: 50%;
  padding: 20px;

}